@import url(../css/style.css);
/*  */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.history-container{
    width: 100%;
    height: 100%;
    display: flex;
}

.historySlider{
    height: 100vh;
    width: 40vw;
    background-color: #fff;
}

.backArrow{
    padding: 20px 0 10px 25px;
}

.backArrow a{
    text-decoration: none;
}

.arrow{
    font-size: 16px;
    color: #000;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 50px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer; 

}
.carousel{
    position: relative;
    padding: 0;
    height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide{
    padding: 0;
} 

.carouselImg{
    padding: 0;
    margin: 0; 
    width: 70%;
}

.prev, .next{
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: 20px;
    height: 40px;
    color: #000;
    background-color: #fff;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 7px;
    border: 0.5px solid #000;
    display: flex;
    justify-content: center;
    text-align: center;
}

.prev{
    left: 40px;
}

.next{
    right: 40px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.hideImg{
    display: none;
}

body {
    background-color: rgb(245, 245, 245);
    height: 100vh;
    font-family: Roboto, Helvetica, sans-serif;
}

.container {
    background-color: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 60%;
    height: 100%;
    margin-left: 25px;
}

.history_container {
    padding: 20px 24px 0px 0px;
}

.history_text {
    font-family: roboto, sans-serif;
    font-weight: bold;
    font-size: calc(1.325rem + .9vw);
    color: #212529;
    line-height: 1.2;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.scroll_container {
    display: flex;
    flex-direction: column;
    background: white;
    margin-right: 30px;
    border-radius: 8px;
    max-height: 73vh;
    padding: 42px 30px;
    overflow-y: scroll;   
}

.scroll_container::-webkit-scrollbar {
    width: 4px;
}
  
 .scroll_container::-webkit-scrollbar-track {
    box-shadow: #000;
    border-radius: 10px;
} 
  
.scroll_container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
    height: 73vh;

} 
  .scroll_container::-webkit-scrollbar-thumb:hover {
    background: #e74c3c;
    border-radius: 10px;
    height: 10vh;

}
    
.history_content {
    color: #212529;
    margin: 0px 25px 8px 15px ;
}

.before-the-monarchy {
    margin: 0px 0px 10px;
    font-weight: bold;
    font-size: 21px;
}

.para-text {
    font-size: 0.8rem;
    margin: 0px 0px 8px;
    width: 100%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.paragraph {
    padding-top: .5rem;
    margin: 0px 25px 8px 15px ;

}

.the-monarchy {
    margin: 0px 0px 10px;
    font-weight: bold;
    font-size: 21px;
}

.the-interregnum {
    margin: 0px 0px 10px;
    font-weight: bold;
    font-size: 21px;
}

.colonial-incursion {
    margin: 0px 0px 10px;
    font-weight: bold;
    font-size: 21px;
}

.our-fusion {
    margin: 0px 0px 10px;
    font-weight: bold;
    font-size: 21px;
}

.nigeria {
    margin: 0px 0px 10px;
    font-weight: bold;
    font-size: 21px;
}


@media (max-width: 992px) {

    .container {
        background-color: white;
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    .history_text {
        font-size: 32px;
        line-height: 32px;
        margin-top: 70px;
        margin-left: 20px;
    }

    .scroll_container {
        display: flex;
        flex-direction: column;
        background-color: none;
        margin-top: 63%;
        max-height: none;
        overflow-y: hidden;
    }
     
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .historySlider{
        width: 100%;
        position: relative;
    }
    .carousel{
        width: 100%;
        padding-top: -10px;
    }
    .container{
        height: 4000px;
        padding:5px;
    }
    .history-container{
        flex-direction: column;
        height: 100vh;
    }
    .history_container{
        position: absolute;
        top: 0px;
    }
    .backArrow{
        display: none;
    }
    .prev, .next{
        cursor: pointer;
        user-select: none;
        position: absolute;
        top: 70%;
        transform:translateY(-25%);
        width: 20px;
        height: 40px;
        color: #000;
        background-color: #fff;
        font-weight: bold;
        font-size: 25px;
        transition: 0.6s ease;
        border-radius: 7px;
        border: 0.5px solid #000;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .scroll_container {
        display: flex;
        flex-direction: column;
        background-color: none;
        margin-top: 5%;
        max-height: none;
        overflow-y: hidden;
    }
    .history_content {
    color: #212529;
    padding: 0px 5px 8px 5px ;
}
    .paragraph {
    padding-top: .5rem;
    padding: 0px 5px 8px 5px ;

}
    
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .historySlider{
        width: 100%;
    }
    .carousel{
        width: 100%;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .historySlider{
        width: 100%;
    }
    .carousel{
        width: 100%;
        height: 100%;
    }
    .backArrow{
        padding: 40px 0 40px 40px;
    }
    .carouselImg{
        margin-top: 80px;
        padding-top: 100px;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}


    
