*{
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
::after,
::before{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
:root{
    /* color */
    --clr-red: rgb(211, 0, 2);
    --clr-white: #fff;
    --clr-black:  rgb(33, 37, 41);
    --clr-gray: #f5f5f5;
    --clr-fade-red: #E56667;
    --clr-ash: #F5F5F5;
    /* font-size */
    --fs-link: 12.8px;
}


.main-section{
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/main_banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
 
.navbar{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 70px;
    font-family: Roboto, Helvetica, Georgia, sans-serif, Arial;
    padding: 0px 20px;
    font-size: 0.8rem;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 8;
}

.logo{
    display: none;
}

.hamburger{
    display: block;
}

.nav-menu{
    display: none;
}

.menu-lists{
    display :flex;
}

.nav-list{
    padding-right: 30px;
}

.nav-list a{
    color: #fff;
    text-decoration: none; 
}

.nav-list a:hover{
    color: var(--clr-red);
}

.hero{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.hero-title{
    margin-top: 200px;
    padding: 35px;
    text-align: center;
    width: auto;
    height: 100%;
}

.hero-title h1{
        color: white;
        font-size: 2.1rem;
        font-weight: bolder;
        z-index: 500;
}

.floating-menu{
    width: 600px;
    border: 1px solid #fff;
    position: fixed;
    bottom: 40px;
    left: 0px;
    right: 0px;
    padding: 0 55px;
    width: 100%;

}

.floatingmenu{
    padding: 0px 10px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 60px;
    background-color: rgb(211, 0, 2);
    border-radius: 100px;
    box-sizing: border-box;
    width: 100%;
    margin: 0px auto;
    font-size: 0.8rem;
    overflow-y:auto;
}




/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) { 

}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) { 

}

 /* Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) { 
    .hrm h1{
        font-size: 2.2rem;
    }
    
        .logo{
        display: block;
    }
    
    .hamburger{
         display: none;
    }
 
    .nav-menu{
         display: block;
     }   

    .hero-title{
        padding: 20px;
    }

    .hero-title h1{
        color: white;
        font-size: 3.5rem;
        font-weight: bold;
        z-index: 500;
    }
    
 }

 /* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .nav-one{
        display: none;
    }
    .arrow-left{
        display: none;
       }
 }

 /* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

 }

